Package: reddragon-motd
Version: 1.1-1
Architecture: all
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Section: base
Depends: toilet, lm-sensors
Installed-Size: 64
Priority: optional
Description: Customizes the MOTD message 
 A MOTD package that information about the system, such as 
 temperature, system uptime, memory usage, average system 
 load, usage on /, swap usage (if any), number of local 
 users, and number of processes running on the system.
