Package: gnome-shell-extension-battery-indicator-upower
Version: 7-2
Architecture: all
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Installed-Size: 160
Depends: gnome-shell (>= 42), gnome-shell (<< 44)
Section: gnome
Priority: optional
Homepage: https://github.com/malko/battery-indicator-upower
Description: Battery Indicator (upower) extension for GNOME Shell
 Display battery level indicators as reported by upower
 .
 This package provides the gnome-shell extension.
 .
 Please note that the extension must be manually enabled, for example
 using gnome-tweak-tool.
