Package: libnftables-dev
Source: nftables
Version: 1.0.5-2~git20220809.1324867
Architecture: armhf
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Installed-Size: 72
Depends: libnftables1 (= 1.0.5-1~git20220809.1324867)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://www.netfilter.org/
Description: Development files for libnftables
 This library provides high level semantics to interact with the nftables
 framework by Netfilter project.
 .
 nftables replaces the old popular iptables, ip6tables, arptables and ebtables.
 .
 Netfilter software and nftables in particular are used in applications such
 as Internet connection sharing, firewalls, IP accounting, transparent
 proxying, advanced routing and traffic control.
 .
 A Linux kernel >= 3.13 is required. However, >= 4.14 is recommended.
 .
 This package provides development files and static libraries.
