Package: urserver-yuzu
Version: 1.0-1
Architecture: all
Installed-Size: 192
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Depends: urserver, libfuse2, bash (>= 5.1)
Section: x11
Priority: optional
HomePage: https://askubuntu.com/a/1316210
Description: Yuzu remote for Unified Remote server
 Adds a remote control called Yuzu to Unified Remote server
 that allows the user to do the following:
   - Wake the PC
   - Suspend the PC,
   - Start Yuzu
   - Close Yuzu
   - Stop Emulation
   - Press Y
   - Toggle Fullscreen
 Note that Linux-Yuzu-*.AppImage (NOT INCLUDED) must be 
 installed in the /usr/bin directory and made executable.
