Package: altbear-initramfs
Source: dropbear
Version: 2020.81-5ubuntu0.1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 58
Depends: dropbear-initramfs
Recommends: cryptsetup-initramfs
Breaks: dropbear (<< 2015.68-1)
Replaces: dropbear (<< 2015.68-1)
Section: net
Priority: optional
Multi-Arch: foreign
Homepage: https://matt.ucc.asn.au/dropbear/dropbear.html
Description: lightweight SSH2 server and client - initramfs integration
 dropbear is a SSH 2 server and client designed to be small enough to
 be used in small memory environments, while still being functional and
 secure enough for general use.
 .
 It implements most required features of the SSH 2 protocol, and other
 features such as authentication agent forwarding.
 .
 This package provides initramfs integration for alternate port usage..
Original-Maintainer: Guilhem Moulin <guilhem@debian.org>
