Package: gnome-shell-extension-dash-to-panel
Version: 50-1
Architecture: all
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Installed-Size: 1508
Depends: gnome-shell (>= 42), gnome-shell (<< 44~)
Section: gnome
Priority: optional
Homepage: https://github.com/home-sweet-gnome/dash-to-panel
Description: Dash To Panel extension for GNOME Shell
 An icon taskbar for the Gnome Shell. This extension moves the dash into 
 the gnome main panel so that the application launchers and system tray are 
 combined into a single panel, similar to that found in KDE Plasma and 
 Windows 7+. A separate dock is no longer needed for easy access to running
 and favorited applications.
 .
 For a more traditional experience, you may also want to use Tweak Tool to 
 enable Windows > Titlebar Buttons > Minimize & Maximize.
 .
 This package provides the gnome-shell extension.
 .
 Please note that the extension must be manually enabled, for example
 using gnome-tweak-tool.
