Package: plymouth-theme-reddragon
Source: xubuntu-artwork
Version: 22.04.1
Architecture: all
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Installed-Size: 964
Depends: plymouth, plymouth-label
Breaks: plymouth (<< 0.9.2-3ubuntu1~)
Provides: plymouth-theme
Section: x11
Priority: optional
Description: graphical boot animation and logger - xubuntu-logo theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the default reddragon theme.
