Package: gnome-shell-extension-gsconnect
Version: 50-1
Architecture: all
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Installed-Size: 1712
Depends: gnome-shell (>= 42), gnome-shell (<< 42~), gjs
Section: gnome
Priority: optional
Homepage: https://github.com/GSConnect/gnome-shell-extension-gsconnect/wiki
Description: gsconnect extension for GNOME Shell
 GSConnect is a complete implementation of KDE Connect especially for GNOME 
 Shell with Nautilus, Chrome and Firefox integration. It does not rely on 
 the KDE Connect desktop application and will not work with it installed.
 .
 KDE Connect allows devices to securely share content like notifications or 
 files and other features like SMS messaging and remote control. The KDE 
 Connect team has applications for Linux, BSD, Android, Sailfish, iOS, macOS 
 and Windows.
 .
 This package provides the gnome-shell extension.
 .
 Please note that the extension must be manually enabled, for example
 using gnome-tweak-tool.
