Package: reddragon-tools
Version: 1.3-1
Architecture: all
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Section: utils
Depends: bash (>=5.1), lintian, dpkg-sig, dpkg-dev, squashfs-tools, genisoimage, xorriso, git, dialog
Installed-Size: 120
Priority: optional
Description: Useful Collection of Scripts
 This package contains a small collection of scripts I've 
 written to aid in some tasks, such as DEB creation, finding 
 the differences in GSettings after changes, etc....
 .
 Specifically, this package includes:
 deb-extract, edit_chroot, gksu, gsettings-diff, los, losd,
 losl, makedeb
