Package: gnome-shell-extension-gamemode
Version: 48-1
Architecture: all
Maintainer: Douglas Orend <doug.orend2@gmail.com>
Installed-Size: 244
Depends: gnome-shell (>= 40), gnome-shell (<< 42~), gamemode
Section: gnome
Priority: optional
Homepage: https://gitlab.com/arcmenu/ArcMenu
Description: Game Mode extension for GNOME Shell
 Status indicator for GameMode
 .
 This package provides the gnome-shell extension.
 .
 Please note that the extension must be manually enabled, for example
 using gnome-tweak-tool.
